
@{
    ViewData["Title"] = "Index";
}

<h1>Area restrita</h1>

<div class="container">
    <div class="jumbotron">
        <img src="~/Img/adminarea.jpg" alt="Are administrativa" />
        <p>Essa é a area administrativa</p>
    </div>
    <a asp-area="" asp-controller="home" asp-action="index">Voltar Home Page</a>
</div>
