
<div class="container">
    <img src="~/Img/faleconosco1.jpg" alt="Fale Conosco" />
    <div>
        <h2>Queremos Ouvir Você</h2>
        <p>Se tiver sugestão fale conosco</p>
        <p>
            <br />
            <span class="icon-envelope"> Teste </span>
            <br />
            <email endereco="lguilherme.j@gmail.com" Conteudo="Enviar um email para:"/>
            <br />
            <span class="icon-phone"/>
            (54) 99191-7365
            <br />
            <span class="icon-home"/>
            Benedicto Venturin, 75
        </p>
    </div>
</div>
