<div class="container">
    <img src="~/Img/faleconosco1.jpg" alt="Fale Conosco" />
    <div>
        <h2>Queremos Ouvir Você</h2>
        <p>Se tiver sugestão fale conosco</p>
        <p>
            <br />
            <span class="fa fa-2x fa-envelope">
                <email endereco="lguilherme.j@gmail.com" conteudo="Enviar um email" >
                   
                    </email>
            </span>
            <br />
            
            
            <span class="fa fa-2x fa-phone" />
            <p> (54) 99191-7365 </p>
            <br />
            <span class="fa fa-2x fa-home" />
             <p> Benedicto Venturin, 75 </p>

        </p>
    </div>
</div>