@model Lanche


<div class="card box-cards box-shadow" >
    
    <img class="card-img-top" src="@Model.ImagemUrl"  alt="Lanche" />
    <div class="card-body mb-5 mt-5">
        <h3 class="text-right">@Model.Preco.ToString("c")</h3>
        <h3 class="card-title">@Model.Nome</h3>
        <p class="card-text">@Model.DescricaoCurta</p>
    </div>

</div>