
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>

<div class="jumbotron">
    <img src="/Img/acessonegado.png" alt="Acesso Negado"/>
    <h4>Area administrativa, acesso não autorizado!</h4>
</div>