<div class="dropdown">
    <button asp-controller="Lanche" asp-action="List"
       class="btn btn-light dropdown-toggle"  type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lanches
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var categoria in Model)
        {
          <a class="dropdown-item" asp-controller="Lanches" asp-action="List"
                   asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
        }

            <a class="dropdown-item" asp-controller="Lanches" asp-action="List" asp-route-categoria="">Ver todos os Lanches</a>

    </div>
</div>